<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InscController</servlet-name>
        <servlet-class>controller.InscController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntPromotoraController</servlet-name>
        <servlet-class>controller.EntPromotoraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceController</servlet-name>
        <servlet-class>controller.PlaceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InscController</servlet-name>
        <url-pattern>/inscricao</url-pattern>
        <url-pattern>/inscricao/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntPromotoraController</servlet-name>
        <url-pattern>/entpromotora</url-pattern>
        <url-pattern>/entpromotora/create</url-pattern>
        <url-pattern>/entpromotora/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceController</servlet-name>
        <url-pattern>/place</url-pattern>
        <url-pattern>/place/create</url-pattern>
        <url-pattern>/place/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
